@model CIFPACarballeiraWeb.Models.Material

@{
    ViewData["Title"] = "Baja del inventario";
}

<h3>Baja de inventario</h3>

<h4>Estás seguro de eliminar el material del inventario?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumSerie)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.NumSerie)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-1">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMaterial)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.TipoMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoUso)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.TipoUso)
        </dd>

        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-1">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Departamento.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Ubicacion.Nombre)
        </dd>
    </dl>
    
    <br/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Baja del inventario" class="btn btn-danger" /> |
        <a asp-action="Index"><i class="fas fa-undo-alt"></i> Volver</a>
    </form>
</div>
