<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>@ViewData["counter"]</h2>
    <ul>
        <li>@ViewData["suma"]</li>
        <li>@ViewData["resta"]</li>
        <li>@ViewData["prod"]</li>
        <li>@ViewData["div"]</li>
    </ul>                                  
</body>
</html>