@model JuguetylandiaWeb.Models.Juguete

@{
    ViewData["Title"] = "Detalle del juguete";
}

@{
    var price = ViewData["finalPrice"];
}


<div>
    <div class="card">
        <h5 class="card-header"> 
            <span class="iconDetails">
                   <i class="fas fa-rocket"></i>
            </span>
        Detalle del juguete</h5>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Referencia)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Referencia)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Marca.Nombre)
                </dd>
                <dt class="col-sm-2">
                   Precio final
                </dt>
                @if (Model.Oferta != 0)
                {
                    <dd class="col-sm-10">
                        <span class="oldPrice">
                            @Html.DisplayFor(model => model.PVP) €
                        </span>
                        <span class="newPrice">
                            @price €
                        </span>
                    </dd>
                }
                else
                {
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PVP) €
                    </dd>
                }
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Oferta)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Oferta) %
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tipo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tipo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Edad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Edad)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cantidad)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tienda)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tienda.Codigo)
                </dd>

            </dl>

        </div>
        <div class="card-footer text-muted">
            <a asp-action="Index" class="btn btn-primary">
                <i class="fas fa-undo-alt"></i> Volver
            </a>
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning editButton">
                <i class="fas fa-edit"></i> Actualizar
            </a>
        </div>
    </div>
    
    <hr />
</div>
<div>
   
</div>
